<html xmlns="http://www.w3.org/1999/html">
    <head>
    <title>Flask app</title>

        <style>
        body {
            background-image: url({{ url_for('static', filename='newnew.jpg') }});
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            }

        </style>

    </head>

    <body>
        <center><h1 style="color:white">Welcome to movies posters app</h1></center>
        <br>
        <form class = "grid" action  = "/result" method="POST">
              <center>
              </center>
                <center><label style="color:white" for = "Name"><h1>Enter movie name: </h1></label></center>
                <br>
                <center><input type="text" name="mvname" id="name"></center>
                <br>
            <center><input type="Submit" class ="file_submit"></center>
            <center><a href="/list"><h2 style="color:white;">View Collection</h2></a></center>
        </form>
            
    </body>



</html>