<html xmlns="http://www.w3.org/1999/html">
    <head>


    </head>

    <body>

        <form class = "grid" action  = "/result" method="POST">
              <center>
              </center>
                <center><label for = "Name">Enter movie name: </label></center>
                <br>
                <center><input type="text" name="name" id="name"></center>
                <br>
                <center><input type="Submit" class ="file_submit"></center>

        </form>

    </body>



</html>